@model BackPhoto?

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-header">Fon Şəkilləri</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table id="myTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Mağaza Fon Şəkil</th>
                                <th>Bloq Fon Şəkil</th>
                                <th>Faq Fon Şəkil</th>
                                <th>Akkount Fon Şəkil</th>
                                <th>Əlaqə Fon Şəkil</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                           
                                <tr>
                                    <td>
                                        <img src="~/img/@Model?.ProductImage" style="width:80px;height:80px;" />
                                    </td>
                                     <td>
                                    <img src="~/img/@Model?.BlogImage" style="width:80px;height:80px;" />
                                    </td>
                                     <td>
                                        <img src="~/img/@Model?.FaqImage" style="width:80px;height:80px;" />
                                    </td>
                                      <td>
                                        <img src="~/img/@Model?.AccountImage" style="width:80px;height:80px;" />
                                    </td>
                                     <td>
                                        <img src="~/img/@Model?.ContactImage" style="width:80px;height:80px;" />
                                    </td>
                                    
                                    <td>

                                        <div class="d-flex justify-content-end">

                                            <a asp-action="Update" asp-route-id="@Model?.Id" class="btn rounded-pill  btn-info text-white" style="margin-right:5px">Edit</a>
                                        </div>
                                    </td>
                                </tr>
                            

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>