@model RegisterVM
@{
	var backPhoto = ViewBag.BackPhoto as BackPhoto;
}
<main class="main">
	<section class="promo-primary promo-primary--shop">
		<div class="overlay"></div>
		<picture>
			<source srcset="~/img/@backPhoto.BlogImage" media="(min-width: 992px)" /><img class="img-bg" src="~/img/@backPhoto.BlogImage" alt="img" />
		</picture>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="align-container">
						<div class="align-item">
							<h1 class="title">Akkaunt</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section account-elements">
		<div class="container">
			<div class="row offset-margin">
				
				<div class="col-xl-8 col-lg-6 col-md-8 offset-md-2 " >
					<!-- sign-in start-->
					<form class="form--primary account--form" method="post">
						<div class="row">
							<div class="col-12">
								<h4 class="form-title">Qeydiyyatdan Keç</h4>
								<div class="text-danger" asp-validation-summary="ModelOnly"></div>

							</div>
							<div class="col-12">
								<label class="input-label">
									<input  class="form-field input input-name" asp-for="Name" /><span>Ad</span>
								</label>
								<span style ="margin-bottom:10px" asp-validation-for="Name"></span>
							</div>
							<div class="col-12">
								<label class="input-label">
									<input class="form-field input input-name" asp-for="Surname" /><span>Soyad</span>
								</label>
								<span asp-validation-for="Surname"></span>
							</div>
							<div class="col-12">
								<label class="input-label">
									<input class="form-field input input-email" asp-for="Email" /><span>Email</span>
								</label>
								<span asp-validation-for="Email"></span>
							</div>
							<div class="col-12">
								<label class="input-label">
									<input class="form-field input input-name" asp-for="Username" /><span>İstifadəçi adı</span>
								</label>
								<span asp-validation-for="Username"></span>
							</div>
							<div class="col-12">
								<label class="input-label">
									<!-- Şifrə Giriş Alanı -->
									<input class="form-field input input-password" asp-for="Password" id="password-field" type="password" />
									<span>Şifrə</span>

									<!-- Göz İşarəsi -->
									<div class="password-trigger" onclick="togglePasswordVisibility('password-field')">
										<svg class="icon">
											<use xlink:href="#eye"></use>
										</svg>
									</div>
								</label>
								<span asp-validation-for="Password"></span>
							</div>

							<div class="col-12">
								<label class="input-label">
									<!-- Şifrəni Təstiqlə Giriş Alanı -->
									<input class="form-field input input-password" asp-for="CheckPassword" id="check-password-field" type="password" />
									<span>Şifrəni təstiqlə</span>

									<!-- Göz İşarəsi -->
									<div class="password-trigger" onclick="togglePasswordVisibility('check-password-field')">
										<svg class="icon">
											<use xlink:href="#eye"></use>
										</svg>
									</div>
								</label>
								<span asp-validation-for="CheckPassword"></span>
							</div>


							<div class="col-12 d-flex justify-content-between">
								<label>
									<input asp-for="IsRemember" />
									<label for="remember">Məni xatırla</label>
								</label>
							</div>
							<div class="col-12 d-flex justify-content-between">
								<label>
									<input asp-for="Agreement" />
									<label for="agreement">İstifadəçi razılaşmasını qəbul edirəm</label>
								</label>
							</div>
							
							<div class="col-12">
								<div class="button-holder">
									<button class="button button--transparent" type="submit" data-hover="Qeydiyyatdan keç"><span>Qeydiyyatdan keç</span></button>
								</div>
							</div>
							<div class="col-12 text-center"><span> Akkauntun varsa<a asp-controller="Account" asp-action="Login">DAXİL OL</a></span></div>
						</div>
					</form>
					<!-- sign-in end-->
				</div>
			
			</div>
		</div>
	</section>

</main>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />

	<script>
		// Şifrə görünüşünü dəyişmək üçün funksiya
		function togglePasswordVisibility(fieldId) {
			const field = document.getElementById(fieldId);
			field.type = field.type === 'password' ? 'text' : 'password';
		}
	</script>
}