@model Konar.az.ViewModels.ForgetPasswordVM
@* @{
    Layout = null;
} *@
@* <link href="~/css/styles.min.css" rel="stylesheet" /> *@
<main class="main">
	<section class="promo-primary promo-primary--shop">
		<div class="overlay"></div>
		<picture>
			<source srcset="img/catalog-bg.jpg" media="(min-width: 992px)" /><img class="img-bg" src="img/catalog-bg.jpg" alt="img" />
		</picture>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="align-container">
						<div class="align-item">
							<h1 class="title">Akkaunt</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section account-elements">
		<div class="container">
			<div class="row offset-margin">
				<div class="col-xl-8 col-lg-6 col-md-8 offset-md-2 ">
					<!-- sign-in start-->
					<form class="form--primary account--form" method="post">
						<div class="row">
							<div class="col-12">
								<h4 class="form-title">Daxil ol</h4>
								<div class="text-danger" asp-validation-summary="ModelOnly"></div>

							</div>

							<div class="col-12">
								<label class="input-label">
									<input class="form-field input input-name" asp-for="Mail" /><span>İstifadəçi E-Mail</span>
								</label>
								<span asp-validation-for="Mail"></span>
							</div>
							


							<div class="col-12">
								<div class="button-holder">
									<button class="button button--transparent" type="submit" data-hover="Şifrə yeniləmə Linki göndər"><span>Şifrə yeniləmə Linki göndər</</span></button>
								</div>
							</div>
							<div class="col-12 text-center"><span> <a asp-controller="Account" asp-action="Login"> Daxil ol</a></span></div>
						</div>
					</form>
					<!-- sign-in end-->
				</div>

			</div>
		</div>
	</section>

</main>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
@* <div class="container">
    <br />
    <h2>Şifrə yeniləmə səhifəsi</h2>
    <form asp-action="ForgetPassword" asp-controller="PasswordChange" method="post">
        <label>Mail Adresini Daxil </label>
        <input type="text" class="form-control" asp-for="Mail"   />
        <span asp-validation-for="Mail" class="text-danger"></span>
        <br />
        <button class="btn btn-primary">Şifrə yeniləmə Linki göndər</button>
    </form>
</div>

 *@
