@model Konar.az.Models.MailRequest
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Mail göndərmə səhifəsi</h4>
        <form method="post" class="forms-sample" enctype="multipart/form-data">
  

            <div class="form-group">
				<label asp-for="ReceiverMail">Alıcı Mail Adresi</label>
				<input asp-for="ReceiverMail" type="text" class="form-control" />
				<span class="text-danger" asp-validation-for="ReceiverMail"></span>
            </div>
            <div class="form-group">
				<label asp-for="Subject">Mövzu başlığı</label>
				<input asp-for="Subject" type="text" class="form-control" />
				<span class="text-danger" asp-validation-for="Subject"></span>
            </div>
             <div class="form-group">
				<label asp-for="Body">Mövzu mətni</label>
				<textarea asp-for="Body" type="text" class="form-control" ></textarea>
				<span class="text-danger" asp-validation-for="Body"></span>
            </div>
           
            <button type="submit" class="btn btn-primary me-2">Send</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}