@model Brand

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Partnyor Yarat</h4>

        <form method="post" class="forms-sample" enctype="multipart/form-data">
            <div class="form-group">
                <label class="form-label" asp-for="Photo">Şəkil</label>
                <input accept="image/*" asp-for="Photo" class="form-control" />
                <span class="text-danger" asp-validation-for="Photo"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name">Şirkıtin Adı</label>
                <input asp-for="Name" type="text" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>


            <button type="submit" class="btn btn-primary me-2">Send</button>
            <a asp-action="Index" class="btn btn-secondary text-white">Go Back</a>
        </form>
    </div>
</div>
